<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
      {{ user }}
      {% if user.is_anonymous %}
      <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
      {% else %}
      <a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
      {% endif %}
    </div>
<header>
    <h1>Movies</h1>
</header>
{% block content %}
{% endblock %}
<footer>
    <strong>Created in TIY Durham Python May 2015 class</strong>
</footer>
</body>
</html>